
@font-face {
  font-family: "header";
  src: url("../font/Trump_Town_Pro.otf");
  src: local("☺"),
    url("type/Trump_Town_Pro.otf") format("otf"),
 }

@font-face {
  font-family: "body";
  src: url("../font/Sawasdee.ttf");
  src: local("☺"),
    url("type/Sawasdee.ttf") format("ttf"),
 }

body{
	background-color: #f9f9f9;
	font-family: "body",georgia;
}

.header{
	margin-top:20px;
	width: 100%;
	height: 107px;	
	font-family: "header",arial,georgia;
	background-color: #FFC000;
	-webkit-box-shadow: 0px 5px 5px #a9a9a9;
	-moz-box-shadow: 0px 5px 5px #a9a9a9;
	box-shadow: 0px 15px 15px #a9a9a9;
}

#headText{
	position: relative;
	color:white;
	left:180px;
	top:20px;
	width: 700px;
	font-size: 60px;
}


#logohead{
	position: relative;
	top:-107px;
	left:50px;

}
.box_contain{
	left: 50px;
	position: relative;
	top:-70px;
}

.left{
	width: 50%;
	float: left;
}

#contributor{
	position: relative;
	top:-60px;
	left: 50px;
	font-size: 25px;
}

#contprofile{
	width: 300px;
	height: 70px;
}

.contoh{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
	background-color:#f2f2f2;
}
#description{
	position: relative;
	top:-20px;
	left: 50px;
	font-size: 25px;
}

#desc{
	background-color:#f2f2f2;
	width: 550px;
	height: 500px;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
}

.right{
	float: left;
}
#category{
	font-size: 25px;
	position: relative;
	top:-60px;	
}
#scroll{
	height: 600px;
	overflow: auto;
}

#scroll a{
	text-decoration: none;
	color:black;
}

.contcategory{
	font-size: 18px;
	padding-left: 20px;
	padding-top: 20px;
	margin-top: 10px;
	width: 460px;
	height: 80px;
	background-color:#f2f2f2;
}

.contcategory:hover{
	background-color: rgb(252,255,50);
}

.contoh:hover{
	background-color: rgb(252,255,50);
}
#foot{
	position: relative;
	top:600px;
	left:-100px;
}

#box_scroll{
	height: 420px;
	width: 470px;
	overflow: auto;
}

.box{
	background-color: rgb(242,242,242);
	width:400px;
	height:60px;
	padding: 20px;
	margin-bottom: 5px;
}

.box:hover{
	background-color: rgb(252,255,50);
}

#contain_section{
	height: 850px;
}
#contain_right{
	background-color: rgb(242,242,242);
	width: 550px;
	height: 600px;
	position: relative;
	top:-490px;
	left:660px;
}

#first_right{
	position: relative;
	width: 470px;
	height: 300px;
	margin: auto;
	top: 25px;
	background-color: #ffffff;
}

#second_right{
	margin: auto;
	width: 470px;
	position: relative;
	top:35px;
}
.s-contain{
	background-color: #ffffff;
	width: 150px;
	height: 50px;
	float: left;
	border-radius: 8px;
}
#have_margin{
	margin-right: 10px;	
}

#third_right{
	position: relative;
	width: 470px;
	height: 170px;
	margin: auto;
	top: 100px;
	background-color: #ffffff;
}

#foot2{
	position: relative;
	width: 100px;
	left:1070px;
}

/*
	###### MAP_VIEW #########
*/

#map_section{
	background-color: rgb(255,191,0);
}
#map_sentence{
	color: #ffffff;
}
#map_sentence{
	width:960px;
	height: 30px;
	margin: auto;
	position: relative;
	top: 80px;
}
#map_content{
	display:none;
}
#upper_sentence{
	width: 370px;
	margin: auto;
}
#bottom_sentence{
	width: 470px;
	margin: auto;
}
#map_container{
	width:960px;
	height: 380px;
	margin: auto;
	position: relative;
	top:180px;
}